# Copyright (c) 2025, Stefan Jaritz
# SPDX-License-Identifier: Apache-2.0

if SOC_AMD_ZYNQMP

if SOC_AMD_ZYNQMP_APU

config NUM_IRQS
	default 220

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 5000000

config ARM64_PA_BITS
	default 40
	
config SMP
	default y

config SCHED_CPU_MASK
	default y

endif # SOC_AMD_ZYNQMP_APU

# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_FLASH := zephyr,flash

config FLASH_SIZE
	default $(dt_chosen_reg_size_int,$(DT_CHOSEN_Z_FLASH),0,K)

config FLASH_BASE_ADDRESS
	default $(dt_chosen_reg_addr_hex,$(DT_CHOSEN_Z_FLASH))

endif # SOC_AMD_ZYNQMP
